
    <nav class=" sticky-top navbar-expand-sm p-2" >
        <div class="main-nav">
            <ul class="nav nav-tabs sticky-top justify-content-center">
                 <li class="nav-item"><a class="nav-link" href="{{ url_for('category')}}"><strong>Category</strong></a></li>
		        <li class="nav-item"><a class="nav-link" href="{{ url_for('author')}}"><strong>Author</strong></a></li>
		        <li class="nav-item"><a class="nav-link" href="{{ url_for('publisher')}}"><strong>Publisher</strong></a></li>
		          <li class="nav-item"><a class="nav-link" href="{{ url_for('rack')}}"><strong>Rack</strong></a></li>
            </ul>
        </div>
    </nav>



